body{
   font-size: 10px;
}

.main_page{
   background-color: beige;
}

.logreg_size{
   font-size: 3em;
   word-spacing: 4em;
}

.center_main{
   text-align: center;
   padding-top: 6%;
}

.heading_style{
   font-style: normal ;
   font-family: 'Courier New','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 4em;
   text-transform: uppercase;
}
.smaller_heading_style{
   font-size: 2rem;
}

.about{
   padding: 1em;
   border: solid;
   font-size: 2em;
   border-radius: 40%;
   float:left;
   text-align: left;
   margin-left: 10em;
}
 
.features{
   padding: 1em;
   border: solid;
   font-size: 2em;
   border-radius: 40%;
   float: right;
   text-align: right;
   margin-right: 10em;
}
.custom-input{
   width: 25em; 
   height: 1.5em; 
}

.fields_lables{
   font-size: 2.5em;
}

.fields_lables2{
   font-size: 2em;
}

.remind{ /* remember me */
   font-size: 2em;
}

.submit{
   font-size: 1em; 
}

.register{
   font-size: .9rem; 
}

.text_size{
   font-size: 1.5rem;
   margin-top: 3rem;
}

.margins{
   margin-top: 3rem;
}

.custom-checkbox { /* checkbox size */
   transform: scale(1.3);
}

.daily_style{
   display: none;
}

.workout-container {
   display: flex;
   overflow-x: scroll; 
   white-space: nowrap; 
   padding: 20px;
   scroll-behavior: smooth;
}
.day {
   min-width: 300px; 
   border: 1px solid #ccc;
   margin-right: 10px;
   padding: 10px;
   display: inline-block;
}

.prev-btn, .next-btn {
   position: fixed;
   top: 50%;
   transform: translateY(-50%);
   padding: 10px;
   font-size: 16px;
   background-color: #f0f0f0;
   border: none;
   cursor: pointer;
   z-index: 100;
}

.prev-btn {
   left: 10px;
}

.next-btn {
   right: 10px;
}