<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Your Site{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="main_page">
  <div class="navbar">
    <a href="{{ url_for('auth.index') }}">Home</a>
    <a href="{{ url_for('auth.daily_checkin') }}">Daily Check-In</a>
    <a href="{{ url_for('auth.checkin_history') }}">Check-In History</a>
    <a href="{{ url_for('auth.weight_history') }}">Weight History</a>
    <a href="{{ url_for('auth.update_info') }}">Update Your Information</a>
    <form action="{{ url_for('auth.logout') }}" method="POST">
      <button type="submit">Logout</button>
    </form>
  </div>
  
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
