<nav class="navbar">
    <ul>
      <li><a href="{{ url_for('auth.index') }}">Home</a></li>
      <li><a href="{{ url_for('workout') }}">View Workout Plan</a></li>
      <li><a href="{{ url_for('auth.daily_checkin') }}">Daily Check-In</a></li>
      <li><a href="{{ url_for('auth.checkin_history') }}">Check-In History</a></li>
      <li><a href="{{ url_for('auth.weight_update') }}">Update Weight</a></li>
      <li><a href="{{ url_for('auth.weight_history') }}">Weight History</a></li>
      <li><a href="{{ url_for('auth.update_info') }}">Update Your Information</a></li>
      {% if current_user.is_authenticated %}
      <li>
        <form method="POST" action="{{ url_for('auth.logout') }}">
          <button type="submit">Logout</button>
        </form>
      </li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      {% endif %}
    </ul>
  </nav>
  