{% extends "base.html" %}

{% block title %}Update Weight{% endblock %}

{% block content %}
<div class="center_main">
  <div class="heading_style">
    <h1>Update Weight</h1>
  </div>
  {% if next_update %}
    <p>Next weight update is due on {{ next_update }}.</p>
  {% else %}
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="fields_lables">
        <p>
          {{ form.weight.label }}<br>
          {{ form.weight(class_='custom-input') }}
        </p>
      </div>
      <p>{{ form.submit(class_='register') }}</p>
    </form>
  {% endif %}
</div>
{% endblock %}
